---
title: Pi5 Dashboard
background: https://images.unsplash.com/photo-1502790671504-542ad42d5189?auto=format&fit=crop&w=2560&q=80
cardBlur: md
theme: dark
color: slate
headerStyle: boxed
layout:
  Monitoring:
    style: row
    columns: 3
  Docker:
    style: row
    columns: 4
