---
- resources:
    cpu: true
    memory: true
    cputemp: true
    uptime: true
    label: Pi5

- datetime:
    text_size: xl
    format:
      dateStyle: long
      timeStyle: short
      hour12: false
